<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletABCPlan</servlet-name>
        <servlet-class>net.controller.servletABCPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletABCSchool</servlet-name>
        <servlet-class>net.controller.servletABCSchool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletABCCareer</servlet-name>
        <servlet-class>net.controller.servletABCCareer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletABCSubjects</servlet-name>
        <servlet-class>net.controller.servletABCSubjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLogin</servlet-name>
        <servlet-class>net.controller.servletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletABCUsers</servlet-name>
        <servlet-class>net.controller.servletABCUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletExam</servlet-name>
        <servlet-class>net.controller.servletExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletImages</servlet-name>
        <servlet-class>net.controller.servletImages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletABCPlan</servlet-name>
        <url-pattern>/servletABCPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletABCSchool</servlet-name>
        <url-pattern>/servletABCSchool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletABCCareer</servlet-name>
        <url-pattern>/servletABCCareer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletABCSubjects</servlet-name>
        <url-pattern>/servletABCSubjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLogin</servlet-name>
        <url-pattern>/servletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletABCUsers</servlet-name>
        <url-pattern>/servletABCUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletExam</servlet-name>
        <url-pattern>/servletExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletImages</servlet-name>
        <url-pattern>/servletImages</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
